# Python Programming and Its Application in Stock Chart & Moving Average Crossover

# Table Content

### Python Basics
#### 1. Variables 
#### 2. Data types
#### 3. Type conversation
#### 4. concatenation and operations

#### Variables

Variables are containers for storing data values. Unlike other programming languages, a variable is created the moment you first assign a value to it.
to assign a value to a variable, use the (=) sign.

Use print() to see the value assigned to the variable

In [19]:
x = 'apple'
y = 1 

print (x,y)

apple 1

#### Data types

Common Data types that are used in the projects include
1. String (str)
2. Integer (int)
3. Float (float)

Using Print(type()) we can see the data type.

Strings literal are denoted by single ('') or double quotes ("")
Examples of String

In [3]:
x = 'apple'
y = "pear"
print(type(x))

<class 'str'>

Int are whole integers which has no decimal points and have unlimited length. 
Examples of Integers

In [4]:
x = 1
y = -2
print(type(x))

<class 'int'>

Float are Floating point numbers that contains one or more decimals

In [5]:
x = 1.0
y = -3.14
print(type(x))

<class 'float'>

### Type conversion

We can convert one type of data to another with int(),float() and str(). 

However, converting data type to an invalid literal would give a invalid literal error.

In [10]:
x = 1
print(type(x))

x = str(x)
print(type(x))

x = float(x)
print(type(x))

x = 'apple'
x = int(x)
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

ValueError: invalid literal for int() with base 10: 'apple'

### concatenation and operations

concatenate by using (+) operator
Multiply using (*) operator
Minus using (-) operator
Divide using (/) operator
Modulus using (%) operator - to find remainder
Exponentiation using (* *) operator
Floor division using (//) operator

In [18]:
x = 'hi'
y = 'bye'
print(x+y)

x = 3 
y = 2 
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

hibye
5
1
6
1.5
1
9
1

# Overview Program (picture)

#

# stock_data.py

## Learning pt 1 Pandas

### Step 1: Reading the CSV

To read the CSV file as a pandas.Dataframe, we would use the pandas function "read_csv()".

First, we have to import pandas

In [1]:
import pandas as pd

Secondly, read the CSV file into the DataFrame (df)

In [ ]:
pd.read_csv('file_name')

We can see the output of the data frame by printing df

In [ ]:
print(df)

### Step 2:Filling in missing data in the dataframes

To increase the integrity of the data set, it is important to fill in missing data. 

The function used to fill in Not a Number (Nan) values with average of the previous and following data is "df.interpolate()".

In [ ]:
df = df.interpolate()

The old csv data is then overwritten with the new data by using the function "df.data.to_csv()".

In [ ]:
df.data.to_csv("filename")

# main_window.ui