# Python Programming and Its Application in Stock Chart & Moving Average Crossover

# Table Content

### Python Basics
#### 1. Variables 
#### 2. Data types
#### 3. Type conversation
#### 4. Concatenation and Operations
#### 5. Assignment Statement
#### 6. Comments
#### 7. Indentation
#### 8. Functions
#### 9. Loops

### Variables

Variables are containers for storing data values. Unlike other programming languages, a variable is created the moment you first assign a value to it.
to assign a value to a variable, use the (=) sign.

Use print() to see the value assigned to the variable

In [5]:
x = 'apple'
Y = 1 
_1 = 2
print (x,Y,_1)

apple 1 2

Variable names in Python can be any length and can consist of uppercase and lowercase letters (A-Z, a-z), digits (0-9), and the underscore character (_). An additional restriction is that, although a variable name can contain digits, the first character of a variable name cannot be a digit.

In [6]:
1apple = apple

SyntaxError: invalid syntax (<ipython-input-6-f38a6c9f9c71>, line 1)

#### Data types

Common Data types that are used in the projects includes

Text type
- String (str)

Numeric type
- Integer (int)
- Float (float)

Sequence Type
- list
- range

Using Print(type()) we can see the data type.

##### Text type
String(str)

Strings literal are denoted by single (' ') or double quotes (" ")

Examples of String

In [14]:
x = 'apple'
y = "pear"
print(type(x))

<class 'str'>

We can find the length of the variable by using the in build function len()

In [15]:
print(len(x))
print(len(y))

5
4

#### Numeric type

Integer (Int)

Int are whole integers which has no decimal points and have unlimited length. 
Examples of Integers. 
Underscore are allowed between integer groupings

In [36]:
x = 1_3
y = -2
print(type(x))

<class 'int'>

Wrong examples:

Example z gives a invalid token error because leading zero in a non-zero decimal number are not allowed

In [32]:
z = 01

SyntaxError: invalid token (<ipython-input-32-360f18516b30>, line 1)

Float(float)

Float are Floating point numbers that contains one or more decimals

underscore are allowed between float groupings

In [33]:
x = 1.0
y = -3.14_24
print(type(y))

<class 'float'>

Int can be coverted to float, vice versa.

In [43]:
x = 1 
print(type((x)))
print(x)
x = float(x)
print(type((x)))
print(x)
x= int(x)
print(type((x)))
print(x)

<class 'int'>
1
<class 'float'>
1.0
<class 'int'>
1

Wrong examples:

Example z gives a syntax error because as the underscore is not between digits.

In [35]:
z = 31._3

SyntaxError: invalid syntax (<ipython-input-35-16e45c8381ba>, line 1)

#### Sequence type 

List

List is a collection which is ordered and changeable. 

A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index.

In [11]:
list_example= ['a',1,'c']

print(list_example)
print(list_example[0])

['a', 1, 'c']
a

We can find the length of the list by using len()

In [16]:
print(len(list_example))

3

#### range

The range() function is used to generate a sequence of numbers over time.

We can create a start, stop and step while using the range() function.

The syntax of range function is : range(start,stop,step)

Start is where the range start (inclusive), stop is where the range stops at (exclusive), step determines each increment

In [21]:
print(range(5))
print(range(2,5))
print(range(1,10,2))

range(0, 5)
range(2, 5)
range(1, 10, 2)

### Type conversion

We can convert one type of data to another with int(),float() and str().

In [25]:
x = 1
print(type(x))

x = str(x)
print(type(x))

x = float(x)
print(type(x))

print(x)

<class 'int'>
<class 'str'>
<class 'float'>
1.0


However, converting data type to an invalid literal would give a invalid literal error.

In [39]:
x = 'apple'
x = int(x)
print(type(x))

ValueError: invalid literal for int() with base 10: 'apple'

### Concatenation and Operations

concatenate by using (+) operator
Multiply using (*) operator
Minus using (-) operator
Divide using (/) operator
Modulus using (%) operator - to find remainder
Exponentiation using (* *) operator
Floor division using (//) operator

In [17]:
x = 'hi'
y = 'bye'
z = 2
print(x+y)
print(x*2)
x = 3 
y = 2 
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

hibye
hihi
5
1
6
1.5
1
9
1

#### Operator precedence

Operator have different precedence. It is important to take note of the precedence of the operator in order to accurately represent your equations. We can also use the Brackets to represent the precedence.

This is the operator precedence from Lowest to highest precedence.

1. +,-
2. *,/,//,%
3. **

Examples of Operator precedence

In [16]:
print(3**2 * 3 +1)

print(2**2**3)

print((20+2*4) / 2)

28
256
14.0

### Assignment Statement

We can (re)bind names to values and also modify attributes or mutable objects using assignment statements. 

When assigning the variable x to a different value, we can see that variable x id is also changed by using the in-build function id().

However, it is possible that two objects with non-overlapping lifetimes can have the same id() value.

In [21]:
x=1 
print(id(x))
x=3
print(id(x))
print(x)

140703391719824
140703391719888
3

### Comments

We can use write comments on our code by using the hash character(#).

A comment signifies the end of the logical line most of the time, unless implicit line joining rules are invoked.

In [22]:
x = 1 # x is being assigned the value 1

In [23]:
x = 1 \ #explicit line joining
print(x)

SyntaxError: unexpected character after line continuation character (<ipython-input-23-bda2e21dbab5>, line 1)

#### Indentation

Indentations begins at the start of the logical line which is used to determine the grouping of the statements.

Indentation are rejected if there are an inconsistent mix of tabs and spaces. This causes a Tab Error.

In [26]:
if 1<4:
    print('yes')
else:
    print('no')

yes

In [35]:
if 1>4:
    print('yes')
else:
print('no')

IndentationError: expected an indented block (<ipython-input-35-a7c8ff9be281>, line 4)

### Functions

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

You can pass data, known as parameters, into a function.
A function can return data as a result.



We use def to define a function. def is followed by the function name and a parentheses and a colon punctuation. 

This is a basic example of a function that prints a string

In [ ]:
def my_function():
  print("Hello from a function")

By typing "my_function()", this would call the function and run the action it in which is to print 

"Hello from a function"

In [ ]:
my_function()

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

We use the return function to send back an output

Examples of Parameters: Sum(x,y)

A parameter is the variable listed inside the parentheses in the function definition.

Examples of arguments: Sum(1,2)

An argument is the value that is sent to the function when it is called.

Example of how a function with arguments and parameter.

Step 1: Create the function
Step 2: Define the parameters
Step 3: Action in the function 
Step 4: The desired output

In [1]:
def sum(x,y):
    return (x+y)

Step 2: call the function and input the arguments

In [2]:
total_sum = sum(1,2)
print(total_sum)

3

It is good practice to make sure you have the same number of arguments and parameter.

If we are missing an argument, there would be a TypeError stating that the function is missing a required positional argument

In [5]:
total_sum = sum(1)
print(total_sum)

TypeError: sum() missing 1 required positional argument: 'y'

If we input more arguments than the parameter, we would also get a TypeError stating the function sum() takes 2 positional arguments but 3 were given.

In [6]:
total_sum = sum(1,2,3)
print(total_sum)

TypeError: sum() takes 2 positional arguments but 3 were given

For Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [9]:
def name(*friend):
  print("The best friend is " + friend[2])

name("Bob", "Tom", "Eden")

The best friend is Eden

Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [11]:
def fruits(fruit3, fruit2, fruit1):
    
  print("My favourite fruit is " + fruit2)

fruits(fruit1 = "apple", fruit2 = "pear", fruit3 = "orange")

My favourite fruit is pear

Arbitrary Keyword Arguments

**kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [22]:
%reset -f

def fruit_function(**fruit):
  print("My favourite fruit is " + fruit["fruit2"])


fruit_function(fruit1 = "apple", fruit2 = "pear")

My favourite fruit is pear

### Loops

Loops allow the code to iterate and repeat itself within set parameters. Loops allow you to automate processes within the program using a few lines of code. 

Loops typically come in two forms: 1. the For statement 2. the While statement

The for statement iterates over the elements of a sequence, such as a string or list, or other iterable objects. With the for loop you can automatically execute the code once for each item in the sequence.

An example of a for loop would be:

In [ ]:
colours = ["blue", "red", "orange", "yellow"]
for x in colours:
    print(x)

the 'x' in the code is arbitary, and can be replaced by any other letter or string.

On the other hand, the while statement repeatedly tests an expression and executes the code for as long as the expression is true. 

An example of a while loop would be:

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

# Overview Program (picture)

#

# stock_data.py

## Learning pt 1 Pandas

### Step 1: Reading the CSV

To read the CSV file as a pandas.Dataframe, we would use the pandas function "read_csv()".

First, we have to import pandas

In [1]:
import pandas as pd

Secondly, read the CSV file into the DataFrame (df)

In [ ]:
pd.read_csv('file_name')

We can see the output of the data frame by printing df

In [ ]:
print(df)

### Step 2:Filling in missing data in the dataframes

To increase the integrity of the data set, it is important to fill in missing data. 

The function used to fill in Not a Number (Nan) values with average of the previous and following data is "df.interpolate()".

In [ ]:
df = df.interpolate()

The old csv data is then overwritten with the new data by using the function "df.data.to_csv()".

In [ ]:
df.data.to_csv("filename")

# main_window.ui